<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ParamList>
    <mybool type="bool" value="false"/>
    <setting2 max="10" min="0" type="int" value="7"/>
    <color type="string" value="">
        <value>BLACK</value>
        <value>WHITE</value>
        <value>RED</value>
    </color>
    <stringParam type="string" value="it's a string value"/>
    <setting1 desc="It's a description" max="1000.0" min="0.0" type="double" value="574.7"/>
</ParamList>
