<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ParamList>
<mybool type="bool" value="true"/>
<mystring type="string" value="hello libParamTuner z"/>
<setting1 max="100.0" min="0.0" type="double" value="61.43497757847533"/>
<setting2 max="100.0" min="0.0" type="int" value="50"/>
</ParamList>
