<!DOCTYPE Configuration>
<ParamList>
	<!--
		tag name :	the name of the setting
		value= :	the actual value of the setting. Must be coherent with the type
		type= :		the type of the setting. Supported type are
				double
				int
				bool
				string
		min=/max= : only for numeric types. Used by GUI to limit value for a slider.
	 -->
	<setting1 value="2.3" type="double" min="0" max="100"/>
	<setting2 value="6" type="int" min="0" max="100"/>
	<mybool value="true" type="bool"/>
	<mystring value="fbvqfdgsh" type="string"/>
</ParamList>
