<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ParamList>
<height max="600.0" min="1.0" type="int" value="68"/>
<message type="string" value="Hello world2"/>
<width max="400.0" min="1.0" type="int" value="274"/>
<x max="600.0" min="0.0" type="int" value="168"/>
<y max="400.0" min="0.0" type="int" value="139"/>
</ParamList>
