<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ParamList>
	<fontsize type="int" min="5" max="80" value="60"/>
	<s type="string" value="Hello libParamTuner"/>
	<x type="int" min="0" max="1000" value="74"/>
	<y type="int" min="0" max="600" value="130"/>
	<angle type="double" min="0.0" max="360.0" value="19.88950276243094"/>
	<toggle type="bool" value="false"/>
</ParamList>
